<!-- BASE page layout for our django app -->
<!-- Use this layout to pull from for all other  -->

<head>
	<div color = '#4E2A84'>
		<a textcolor = 'purple'>Welcome to GoodGuide!</a>
	</div>
	<div>
		<p>This is a feedback application so Guides can improve their tours. Your scores are between you and the TG Coordinators. We want you to take the constructive feedback from this application to improve the things about your tours and keep doing the things you already do well (which is a lot). </p>

	</div>
</head>





